<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- title  -->
    <title>Component Name</title>

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <link rel="stylesheet" href="css/rev_slider/layers.css" />

    <!-- custom css -->
    <link href="css/services-section.css" rel="stylesheet" id="colors" />
  </head>

  <body>
    <!-- start page loading -->
    <div id="preloader">
      <div class="row loader">
        <div class="loader-icon"></div>
      </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">
      <!-- component -->

          <!-- start service section -->
    <section class="lg" data-scroll-index="2">
        <div class="container">

            <div class="section-heading title-style5">
                <h2>Servicios</h2>
                <p>Est nulla officia dolore minim ut eiusmod cupidatat culpa culpa amet ut sint amet aliquip.</p>
            </div>

            <div class="row justify-content-lg-center">

                <div class="col-md-6 col-xl-5 margin-40px-bottom mobile-margin-30px-bottom">
                    <div class="media padding-35px-right xs-no-padding-right">
                        <div class="margin-40px-right sm-margin-30px-right">
                            <i class="fas fa-pen-nib text-theme-color font-size36 sm-font-size32"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="margin-15px-bottom font-size26 sm-font-size22">Voluptate Dolore</h4>
                            <p>Cupidatat quis culpa duis laboris amet non minim cupidatat eiusmod veniam elit quis qui deserunt.</p>
                            <a href="#!" class="btn small font-size16 text-theme-color">Ver más <i class="fas fa-arrow-right font-size12 margin-5px-left"></i></a>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-5 margin-40px-bottom mobile-margin-30px-bottom">
                    <div class="media padding-35px-left xs-no-padding-left">
                        <div class="margin-40px-right sm-margin-30px-right">
                            <i class="fas fa-headset text-theme-color font-size36 sm-font-size32"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="margin-15px-bottom font-size26 sm-font-size22">Ad Lorem</h4>
                            <p>Amet in tempor sunt aliquip dolore eiusmod cillum irure non culpa incididunt in.</p>
                            <a href="#!" class="btn small font-size16 text-theme-color">Ver más <i class="fas fa-arrow-right font-size12 margin-5px-left"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-5 xs-margin-40px-bottom mobile-margin-30px-bottom">
                    <div class="media padding-35px-right xs-no-padding-right">
                        <div class="margin-40px-right sm-margin-30px-right">
                            <i class="fas fa-compress text-theme-color font-size36 sm-font-size32"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="margin-15px-bottom font-size26 sm-font-size22">Elit Velit</h4>
                            <p>Lorem ex consectetur minim in nostrud eu ipsum ea duis adipisicing aute irure aliqua.</p>
                            <a href="#!" class="btn small font-size16 text-theme-color">Ver más <i class="fas fa-arrow-right font-size12 margin-5px-left"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-5">
                    <div class="media padding-35px-left xs-no-padding-left">
                        <div class="margin-40px-right sm-margin-30px-right">
                            <i class="far fa-file-alt text-theme-color font-size36 sm-font-size32"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="margin-15px-bottom font-size26 sm-font-size22">Dolore Nulla</h4>
                            <p>Eu commodo amet ea est aliquip. Cillum magna culpa ullamco aliquip velit consectetur veniam.</p>
                            <a href="#!" class="btn small font-size16 text-theme-color">Ver más <i class="fas fa-arrow-right font-size12 margin-5px-left"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- end service section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- all js include start -->

    <!-- jquery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="js/chart.min.js"></script>

    <!-- thumbs js -->
    <script src="js/owl.carousel.thumbs.js"></script>

    <!-- animated js -->
    <script src="js/animated-headline.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- revolution slider js files start -->
    <script src="js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.video.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- quform plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->
  </body>
</html>
