<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- title  -->
    <title>Component Name</title>

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <link rel="stylesheet" href="css/rev_slider/layers.css" />

    <!-- custom css -->
    <link href="css/process-section.css" rel="stylesheet" id="colors" />
  </head>

  <body>
    <!-- start page loading -->
    <div id="preloader">
      <div class="row loader">
        <div class="loader-icon"></div>
      </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">
      <!-- component -->
      <!-- start process section -->
    <section class="lg text-center position-relative no-padding-bottom">
        <div class="container padding-50px-tb xs-no-padding-tb">
            <div class="row">
                <div class="col-md-4 xs-margin-40px-bottom">
                    <div class="work-process">
                        <div class="process-num-box">
                            <div class="process-icon"><span><i class="far fa-lightbulb"></i></span>
                            </div>
                            <div class="process-num">01</div>
                        </div>
                        <div>
                            <h5>Investigar</h5>
                            <p>Qui sint eu adipisicing do sint mollit labore do cillum cupidatat ullamco aliquip id.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 xs-margin-40px-bottom">
                    <div class="work-process step-2">
                        <div class="process-num-box">
                            <div class="process-icon"><span><i class="fas fa-bullseye"></i></span>
                            </div>
                            <div class="process-num">02</div>
                        </div>
                        <div>
                            <h5>Enfocar</h5>
                            <p>Qui sint eu adipisicing do sint mollit labore do cillum cupidatat ullamco aliquip id.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-process last">
                        <div class="process-num-box">
                            <div class="process-icon"><span><i class="fas fa-rocket"></i></span>
                            </div>
                            <div class="process-num">03</div>
                        </div>
                        <div>
                            <h5>Resultados</h4>
                        <p>Qui sint eu adipisicing do sint mollit labore do cillum cupidatat ullamco aliquip id.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- end process section -->
    
    </div>
    <!-- end main-wrapper section -->

    <!-- all js include start -->

    <!-- jquery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="js/chart.min.js"></script>

    <!-- thumbs js -->
    <script src="js/owl.carousel.thumbs.js"></script>

    <!-- animated js -->
    <script src="js/animated-headline.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- revolution slider js files start -->
    <script src="js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.video.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- quform plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->
  </body>
</html>


