<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- title  -->
    <title>Component Name</title>

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <link rel="stylesheet" href="css/rev_slider/layers.css" />

    <!-- custom css -->
    <link href="css/tabs-section.css" rel="stylesheet" id="colors" />
  </head>

  <body>
    <!-- start page loading -->
    <div id="preloader">
      <div class="row loader">
        <div class="loader-icon"></div>
      </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">
      <!-- component -->

            <!-- start tab section -->
            <section class="bg-light-gray">
                <div class="container">
                  <div class="section-heading">
                    <h3 class="font-weight-600">Social Network</h3>
                  </div>
        
                  <div class="row">
                    <div class="col-12">
                      <div class="horizontaltab tab-style4">
                        <ul class="resp-tabs-list hor_1">
                          <li class="margin-30px-left">
                            <i class="fab fa-facebook-f"></i>
                            <div class="tab-box">
                              <h6>Facebook</h6>
                              <span>Vision to plan</span>
                            </div>
                          </li>
                          <li class="margin-30px-left">
                            <i class="fab fa-twitter"></i>
                            <div class="tab-box">
                              <h6>Twitter</h6>
                              <span>Plan to market</span>
                            </div>
                          </li>
                          <li>
                            <i class="fab fa-instagram"></i>
                            <div class="tab-box">
                              <h6>Instagram</h6>
                              <span>Start to growth</span>
                            </div>
                          </li>
                        </ul>
                        <div
                          class="resp-tabs-container box-shadow-large bg-white hor_1"
                        >
                          <div>
                            <div
                              class="bg-white box-shadow-primary padding-30px-all xs-padding-20px-all"
                            >
                              <div class="row">
                                <div
                                  class="col-lg-6 sm-margin-20px-bottom sm-text-center"
                                >
                                  <img src="https://placehold.co/625x400" alt="" />
                                </div>
                                <div class="col-lg-6">
                                  <div
                                    class="padding-30px-left md-padding-20px-left sm-no-padding-left"
                                  >
                                    <h5>Vision to planning</h5>
                                    <p>
                                      Duis Integration aute irure design in
                                      reprehenderit in voluptate velit esse cillum
                                      dolore eu fugiat nulla pariatur. Excepteur sint
                                      occaecat cupidatat non design proident.
                                    </p>
        
                                    <ul class="list-style-16">
                                      <li>Exclusive design</li>
                                      <li>Life time supports</li>
                                      <li>Solve your problem with us</li>
                                      <li>We Provide Awesome Services</li>
                                      <li>Your business deserves best software</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div
                              class="bg-white box-shadow-primary padding-30px-all xs-padding-20px-all"
                            >
                              <div class="row">
                                <div class="col-lg-6 order-lg-1 order-2">
                                  <div
                                    class="padding-30px-right md-padding-20px-right sm-no-padding-right"
                                  >
                                    <h5>Plan to marketing</h5>
                                    <p>
                                      Build integration aute irure design in
                                      reprehenderit in voluptate velit esse cillum
                                      dolore eu fugiat nulla pariatur. Excepteur sint
                                      occaecat cupidatat design proident.
                                    </p>
        
                                    <ul class="list-style-16">
                                      <li>Life time supports</li>
                                      <li>Exclusive design</li>
                                      <li>Solve your problem with us</li>
                                      <li>We Provide Awesome Services</li>
                                      <li>Your business deserves best software</li>
                                    </ul>
                                  </div>
                                </div>
                                <div
                                  class="col-lg-6 order-lg-2 order-1 sm-text-center sm-margin-20px-bottom"
                                >
                                  <img src="https://placehold.co/625x400" alt="" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div
                              class="bg-white box-shadow-primary padding-30px-all xs-padding-20px-all"
                            >
                              <div class="row">
                                <div
                                  class="col-lg-6 sm-margin-20px-bottom sm-text-center"
                                >
                                  <img src="https://placehold.co/625x400" alt="" />
                                </div>
                                <div class="col-lg-6">
                                  <div
                                    class="padding-30px-left md-padding-20px-left sm-no-padding-left"
                                  >
                                    <h5>Start to growth</h5>
                                    <p>
                                      Duis Integration aute irure design in
                                      reprehenderit in voluptate velit esse cillum
                                      dolore eu fugiat nulla pariatur. Excepteur sint
                                      occaecat cupidatat non design proident.
                                    </p>
        
                                    <ul class="list-style-16">
                                      <li>Exclusive design</li>
                                      <li>Life time supports</li>
                                      <li>Solve your problem with us</li>
                                      <li>We Provide Awesome Services</li>
                                      <li>Your business deserves best software</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- end tab section -->
    
    </div>
    <!-- end main-wrapper section -->

    <!-- all js include start -->

    <!-- jquery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="js/chart.min.js"></script>

    <!-- thumbs js -->
    <script src="js/owl.carousel.thumbs.js"></script>

    <!-- animated js -->
    <script src="js/animated-headline.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- revolution slider js files start -->
    <script src="js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.video.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- quform plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->
  </body>
</html>
