<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- title  -->
    <title>Acerca de Nosotros - A</title>

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <link rel="stylesheet" href="css/rev_slider/layers.css" />

    <!-- custom css -->
    <link href="css/about-us-a.css" rel="stylesheet" id="colors" />
  </head>

  <body>
    <!-- start page loading -->
    <div id="preloader">
      <div class="row loader">
        <div class="loader-icon"></div>
      </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">
      <!-- component -->

      <!-- start about section -->
<section class="lg no-padding-bottom" data-scroll-index="1">
    <div class="container">
      <div class="row align-items-xl-center justify-content-center">
        <div
          class="col-sm-12 col-lg-6 col-xl-6 text-center sm-margin-35px-bottom"
        >
          <div
            class="position-relative z-index-1 padding-70px-right md-padding-50px-right sm-no-padding-right"
          >
            <img src="https://images.unsplash.com/photo-1518717758536-85ae29035b6d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="" class="rounded" />
          </div>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-5">
          <!--Título de la sección-->
          <h3 class="margin-20px-bottom">Transformando el futuro con tecnología</h3>
          <p class="lead margin-30px-bottom width-85">
            <!--Subtítulo de la sección-->
            Forjando líderes en el mundo digital.
          </p>
          <ul class="list-unstyled margin-35px-bottom">
            <li>
              <div class="d-flex">
                <div class="margin-25px-right">
                  <!--Icono de texto de apoyo-->
                  <i class="fas fa-check text-theme-color"></i>
                </div>
                <div class="w-100">
                  <!--Titulo de texto de apoyo-->
                  <h5 class="font-size20">Evolución tecnológica y excelencia académica</h5>
                  <p class="no-margin-bottom">
                    <!--Contenido de texto de apoyo-->
                    Preparando a los profesionales del mañana, estamos comprometidos con la transformación del futuro a través de la tecnología. 
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <div
            class="d-inline-block text-left box-shadow-large padding-15px-tb padding-25px-lr rounded-lg bg-white margin-10px-bottom"
          >
            <div class="font-weight-500">
              <!--Frase de la sección-->
              “La educación es el arma más poderosa que puedes usar para cambiar el mundo.”
              <!--Autor de la frase-->
              <span class="d-block text-primary font-size16"
                >- Nelson Mandela</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
    
    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"
      ><i class="fas fa-angle-up" aria-hidden="true"></i
    ></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jquery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="js/chart.min.js"></script>

    <!-- thumbs js -->
    <script src="js/owl.carousel.thumbs.js"></script>

    <!-- animated js -->
    <script src="js/animated-headline.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- revolution slider js files start -->
    <script src="js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.video.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- quform plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->
  </body>
</html>
