<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- title  -->
    <title>Component Name</title>

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- revolution slider css -->
    <link rel="stylesheet" href="css/rev_slider/settings.css" />
    <link rel="stylesheet" href="css/rev_slider/layers.css" />
    
    <!-- custom css -->
    <link href="css/slider-a.css" rel="stylesheet" id="colors" />
  </head>

  <body>
    <!-- start page loading -->
    <div id="preloader">
      <div class="row loader">
        <div class="loader-icon"></div>
      </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">
      <!-- component -->
      <!-- start revolution slideshow-->
<div class="rev_slider_wrapper">
    <div class="rev_slider" id="rev_slider_3" data-version="5.4.5">
      <ul>
        <!-- slide 1 -->
        <li
          data-fstransition="fade"
          data-transition="fade"
          data-easein="default"
          data-easeout="default"
          data-slotamount="1"
          data-masterspeed="1200"
          data-delay="8000"
          data-title="We Plan Business"
        >
          <!-- overlay -->
          <div class="opacity-medium bg-black z-index-1"></div>
          <!-- main image -->
          <img
            src="https://placehold.co/1920x900"
            alt=""
            data-bgrepeat="no-repeat"
            data-bgfit="cover"
            data-bgparallax="7"
            class="rev-slidebg"
          />
          <!-- hero title -->
          <div
            class="tp-caption hero-text alt-font font-weight-600 text-white"
            data-x="30"
            data-y="center"
            data-voffset="[-84,-63,-68,-108]"
            data-fontsize="[72,62,52,46]"
            data-lineheight="[72,62,52,46]"
            data-width="[none, none, none, 300]"
            data-whitespace="[nowrap, nowrap, nowrap, normal]"
            data-frames='[{
                                      "delay":1000,
                                      "speed":900,
                                      "frame":"0",
                                      "from":"y:150px;opacity:0;",
                                      "ease":"Power3.easeOut",
                                      "to":"o:1;"
                                      },{
                                      "delay":"wait",
                                      "speed":1000,
                                      "frame":"999",
                                      "to":"opacity:0;","ease":"Power3.easeOut"
                                  }]'
            data-splitout="none"
          >
            Lorem ipsum.
          </div>
          <!-- hero subtitle -->
          <div
            class="tp-caption small-text text-white slider-text"
            data-x="30"
            data-y="center"
            data-voffset="[10,40,36,56]"
            data-fontsize="[21,21,21,21]"
            data-lineheight="34"
            data-width="[600, 500, 400, 300]"
            data-whitespace="[nowrap, nowrap, nowrap, normal]"
            data-frames='[{
                                      "delay":1100,
                                      "speed":900,
                                      "frame":"0",
                                      "from":"y:150px;opacity:0;",
                                      "ease":"Power3.easeOut",
                                      "to":"o:1;"
                                      },{
                                      "delay":"wait",
                                      "speed":1000,
                                      "frame":"999",
                                      "to":"opacity:0;","ease":"Power3.easeOut"
                                  }]'
          >
            <p class="white-space">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              obcaecati corrupti consectetur sit perferendis soluta.
            </p>
          </div>
          <!-- button -->
          <div
            class="tp-caption"
            data-x="30"
            data-y="center"
            data-voffset="[102,145,150,204]"
            data-lineheight="55"
            data-hoffset="0"
            data-frames='[{
                              "delay":1200,
                              "speed":900,
                              "frame":"0",
                              "from":"y:150px;opacity:0;",
                              "ease":"Power3.easeOut",
                              "to":"o:1;"
                              },{
                              "delay":"wait",
                              "speed":1000,
                              "frame":"999",
                              "to":"opacity:0;","ease":"Power3.easeOut"
                          }]'
          >
            <a href="#!" class="butn theme white-hover"><span>Button 1</span></a>
          </div>
          <div
            class="tp-caption"
            style="padding-left: 10rem;"
            data-x="30"
            data-y="center"
            data-voffset="[102,145,150,204]"
            data-lineheight="55"
            data-hoffset="0"
            data-frames='[{
                              "delay":1200,
                              "speed":900,
                              "frame":"0",
                              "from":"y:150px;opacity:0;",
                              "ease":"Power3.easeOut",
                              "to":"o:1;"
                              },{
                              "delay":"wait",
                              "speed":1000,
                              "frame":"999",
                              "to":"opacity:0;","ease":"Power3.easeOut"
                          }]'
          >
            <a href="#!" class="butn theme white-hover"><span>Button 2</span></a>
          </div>
        </li>
        <!-- end slide 1 -->
        <!-- SLIDE 2 -->
        <li
          data-fstransition="fade"
          data-transition="fade"
          data-easein="default"
          data-easeout="default"
          data-slotamount="1"
          data-masterspeed="1200"
          data-delay="8000"
          data-title="We Are The Best"
        >
          <!-- Overlay -->
          <div class="opacity-medium bg-black z-index-1"></div>
          <!-- main image -->
          <img
            src="https://placehold.co/1920x900"
            alt=""
            data-bgrepeat="no-repeat"
            data-bgfit="cover"
            data-bgparallax="7"
            class="rev-slidebg"
          />
          <!-- HERO TITLE -->
          <div
            class="tp-caption hero-text alt-font font-weight-600 text-white text-center"
            data-x="['center','center','center','center']"
            data-y="center"
            data-voffset="[-84,-63,-68,-108]"
            data-fontsize="[72,62,52,46]"
            data-lineheight="[72,62,52,46]"
            data-width="[none, none, none, 300]"
            data-whitespace="[nowrap, nowrap, nowrap, normal]"
            data-frames='[{
                                      "delay":1000,
                                      "speed":900,
                                      "frame":"0",
                                      "from":"y:150px;opacity:0;",
                                      "ease":"Power3.easeOut",
                                      "to":"o:1;"
                                      },{
                                      "delay":"wait",
                                      "speed":1000,
                                      "frame":"999",
                                      "to":"opacity:0;","ease":"Power3.easeOut"
                                  }]'
            data-splitout="none"
          >
            Tempor dolore.
          </div>
          <!-- HERO SUBTITLE -->
          <div
            class="tp-caption small-text text-white slider-text text-center"
            data-x="['center','center','center','center']"
            data-y="center"
            data-voffset="[10,40,36,56]"
            data-fontsize="[21,21,21,21]"
            data-lineheight="34"
            data-width="[600, 500, 400, 300]"
            data-whitespace="[nowrap, nowrap, nowrap, normal]"
            data-frames='[{
                                      "delay":1100,
                                      "speed":900,
                                      "frame":"0",
                                      "from":"y:150px;opacity:0;",
                                      "ease":"Power3.easeOut",
                                      "to":"o:1;"
                                      },{
                                      "delay":"wait",
                                      "speed":1000,
                                      "frame":"999",
                                      "to":"opacity:0;","ease":"Power3.easeOut"
                                  }]'
          >
            <p class="white-space">
              Cupidatat officia laborum et voluptate excepteur ipsum enim veniam.
              Do Lorem velit non est elit eiusmod.
            </p>
          </div>
          <!-- BUTTON -->
          <div
            class="tp-caption text-center"
            style="padding-right: 9.7rem;"
            data-x="['center','center','center','center']"
            data-y="center"
            data-voffset="[102,145,150,204]"
            data-lineheight="55"
            data-hoffset="0"
            data-frames='[{
                              "delay":1200,
                              "speed":900,
                              "frame":"0",
                              "from":"y:150px;opacity:0;",
                              "ease":"Power3.easeOut",
                              "to":"o:1;"
                              },{
                              "delay":"wait",
                              "speed":1000,
                              "frame":"999",
                              "to":"opacity:0;","ease":"Power3.easeOut"
                          }]'
          >
            <a href="#!" class="butn theme white-hover"><span>Button 1</span></a>
          </div>
          <div
            class="tp-caption text-center"
            style="padding-left: 9.7rem;"
            data-x="['center','center','center','center']"
            data-y="center"
            data-voffset="[102,145,150,204]"
            data-lineheight="55"
            data-hoffset="0"
            data-frames='[{
                              "delay":1200,
                              "speed":900,
                              "frame":"0",
                              "from":"y:150px;opacity:0;",
                              "ease":"Power3.easeOut",
                              "to":"o:1;"
                              },{
                              "delay":"wait",
                              "speed":1000,
                              "frame":"999",
                              "to":"opacity:0;","ease":"Power3.easeOut"
                          }]'
          >
            <a href="#!" class="butn theme white-hover"><span>Button 2</span></a>
          </div>
        </li>
        <!-- end slide 1 -->
        <!-- SLIDE 3 -->
        <li
          data-fstransition="fade"
          data-transition="fade"
          data-easein="default"
          data-easeout="default"
          data-slotamount="1"
          data-masterspeed="1200"
          data-delay="8000"
          data-title="We Build Everything"
        >
          <!-- Overlay -->
          <div class="opacity-medium bg-black z-index-1"></div>
          <!-- main image -->
          <img
            src="https://placehold.co/1920x900"
            alt=""
            data-bgrepeat="no-repeat"
            data-bgfit="cover"
            data-bgparallax="7"
            class="rev-slidebg"
          />
          <!-- HERO TITLE -->
          <div
            class="tp-caption hero-text alt-font font-weight-600 text-white text-right"
            data-x="['right','right','right','right']"
            data-y="center"
            data-hoffset="['30','30',30','30']"
            data-voffset="[-84,-63,-68,-108]"
            data-fontsize="[72,62,52,46]"
            data-lineheight="[72,62,52,46]"
            data-width="[none, none, none, 300]"
            data-whitespace="[nowrap, nowrap, nowrap, normal]"
            data-frames='[{
                                      "delay":1000,
                                      "speed":900,
                                      "frame":"0",
                                      "from":"y:150px;opacity:0;",
                                      "ease":"Power3.easeOut",
                                      "to":"o:1;"
                                      },{
                                      "delay":"wait",
                                      "speed":1000,
                                      "frame":"999",
                                      "to":"opacity:0;","ease":"Power3.easeOut"
                                  }]'
            data-splitout="none"
          >
            Culpa laborum.
          </div>
          <!-- HERO SUBTITLE -->
          <div
            class="tp-caption small-text text-white slider-text"
            data-x="['right','right','right','right']"
            data-y="center"
            data-hoffset="['30','30',30','30']"
            data-voffset="[10,40,36,56]"
            data-fontsize="[21,21,21,21]"
            data-lineheight="34"
            data-width="[600, 500, 400, 300]"
            data-whitespace="[nowrap, nowrap, nowrap, normal]"
            data-frames='[{
                                      "delay":1100,
                                      "speed":900,
                                      "frame":"0",
                                      "from":"y:150px;opacity:0;",
                                      "ease":"Power3.easeOut",
                                      "to":"o:1;"
                                      },{
                                      "delay":"wait",
                                      "speed":1000,
                                      "frame":"999",
                                      "to":"opacity:0;","ease":"Power3.easeOut"
                                  }]'
          >
            <p class="white-space text-right">
              Consectetur voluptate officia adipisicing dolor minim eu ex ea
              veniam. Ea nulla ut nulla est voluptate aute.
            </p>
          </div>
          <!-- BUTTON -->
          <div
            class="tp-caption text-right"
            style="padding-right: 10rem;"
            data-x="['right','right','right','right']"
            data-y="center"
            data-hoffset="['30','30',30','30']"
            data-voffset="[102,145,150,204]"
            data-lineheight="55"
            data-frames='[{
                                          "delay":1200,
                                          "speed":900,
                                          "frame":"0",
                                          "from":"y:150px;opacity:0;",
                                          "ease":"Power3.easeOut",
                                          "to":"o:1;"
                                          },{
                                          "delay":"wait",
                                          "speed":1000,
                                          "frame":"999",
                                          "to":"opacity:0;","ease":"Power3.easeOut"
                                      }]'
          >
            <a href="#!" class="butn theme white-hover"><span>Button 1</span></a>
          </div>
          <!-- BUTTON -->
          <div
            class="tp-caption text-right"
            data-x="['right','right','right','right']"
            data-y="center"
            data-hoffset="['30','30',30','30']"
            data-voffset="[102,145,150,204]"
            data-lineheight="55"
            data-frames='[{
                              "delay":1200,
                              "speed":900,
                              "frame":"0",
                              "from":"y:150px;opacity:0;",
                              "ease":"Power3.easeOut",
                              "to":"o:1;"
                              },{
                              "delay":"wait",
                              "speed":1000,
                              "frame":"999",
                              "to":"opacity:0;","ease":"Power3.easeOut"
                          }]'
          >
            <a href="#!" class="butn theme white-hover"><span>Button 2</span></a>
          </div>
        </li>
        <!-- end slide 1 -->
      </ul>
    </div>
  </div>
  <!-- end revolution slideshow-->
    
    </div>
    <!-- end main-wrapper section -->


    <!-- all js include start -->

    <!-- jquery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="js/chart.min.js"></script>

    <!-- thumbs js -->
    <script src="js/owl.carousel.thumbs.js"></script>

    <!-- animated js -->
    <script src="js/animated-headline.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- revolution slider js files start -->
    <script src="js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.video.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- quform plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->
  </body>
</html>


