/*-----------------------------------------------------------------------------

-	Revolution Slider 5.0 Layer Style Settings -

Screen Stylesheet

version:   	5.0.0
date:      	18/03/15
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

* {/*tabs*/
    -webkit-box-sizing: border-box;/*tabs*/
    -moz-box-sizing: border-box;/*tabs*/
    box-sizing: border-box;/*tabs*/
}/*tabs*/

.tp-caption.Twitter-Content a,.tp-caption.Twitter-Content a:visited/*tabs*/
{/*tabs*/
	color:#0084B4!important;/*tabs*/
}/*tabs*/
