<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- title  -->
    <title>Footer</title>

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <link rel="stylesheet" href="css/rev_slider/layers.css" />

    <!-- custom css -->
    <link href="css/footer.css" rel="stylesheet" id="colors" />
  </head>

  <body>
    <!-- start page loading -->
    <div id="preloader">
      <div class="row loader">
        <div class="loader-icon"></div>
      </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">
      <!-- component -->

     <!-- start footer section -->
     <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-2 hidden-xs">
              <img
                class="center-block"
                src="https://www.itesa.edu.mx/_app/vista/default/img/footer/logotipo-07.png"
              />
            </div>

            <div class="col-md-4 hidden-xs">
              <h3
                class="footer-title-style2 text-theme-color"
                style="color: white"
              >
                Quick Links
              </h3>
              <div class="row">
                <div class="col-md-6 no-padding-right xs-padding-15px-right">
                  <ul class="footer-list xs-margin-5px-bottom">
                    <li><a href="#!">Link 01</a></li>
                    <li><a href="#!">Link 02</a></li>
                    <li><a href="#!">Link 03</a></li>
                    <li><a href="#!">Link 04</a></li>
                    <li><a href="#!">Link 05</a></li>
                  </ul>
                </div>
                <div class="col-md-6 no-padding-right xs-padding-15px-right">
                  <ul class="footer-list">
                    <li><a href="#!">Link 06</a></li>
                    <li><a href="#!">Link 07</a></li>
                    <li><a href="#!">Link 08</a></li>
                    <li><a href="#!">Link 09</a></li>
                    <li><a href="#!">Link 10</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-4 hidden-xs">
              <h3
                class="footer-title-style2 text-theme-color"
                style="color: white"
              >
                Contact
              </h3>
              <ul class="footer-list">
                <li>
                  <span class="d-inline-block vertical-align-top font-size18"
                    ><i class="fas fa-map-marker-alt text-theme-color"></i
                  ></span>
                  <span
                    class="d-inline-block width-85 vertical-align-top padding-10px-left"
                    >Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.</span
                  >
                </li>
                <li>
                  <span class="d-inline-block vertical-align-top font-size18"
                    ><i class="fas fa-mobile-alt text-theme-color"></i
                  ></span>
                  <span
                    class="d-inline-block width-85 vertical-align-top padding-10px-left"
                    >(+00) 000 000 0000</span
                  >
                </li>
                <li>
                  <span class="d-inline-block vertical-align-top font-size18"
                    ><i class="far fa-envelope text-theme-color"></i
                  ></span>
                  <span
                    class="d-inline-block width-85 vertical-align-top padding-10px-left"
                    >mail@email.com</span
                  >
                </li>
                <li>
                  <span class="d-inline-block vertical-align-top font-size18"
                    ><i class="fas fa-globe text-theme-color"></i
                  ></span>
                  <span
                    class="d-inline-block width-85 vertical-align-top padding-10px-left"
                    >www.mysite.com</span
                  >
                </li>
              </ul>
              <div class="margin-25px-top footer-social-icons">
                <ul>
                  <li>
                    <a href="#" title="Facebook"
                      ><i class="fab fa-facebook-f" style="color: white"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Portal Escolar"
                      ><i class="fas fa-school" style="color: white"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Plataforma Moodle"
                      ><i class="fab fa-maxcdn" style="color: white"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Correo Escolar"
                      ><i class="fas fa-envelope" style="color: white"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title="Canal Youtube"
                      ><i class="fab fa-youtube" style="color: white"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-2 hidden-xs">
              <img
                class="center-block"
                src="https://www.itesa.edu.mx/_app/vista/default/img/footer/logo-piegobb.png"
              />
            </div>
          </div>
        </div>
        <div
          class="footer-bar xs-font-size10"
          style="margin: 0; padding: 0; margin-top: 10px; background-color: #828078;"
        >
          <div class="container">
            <div class="row">
              <div
                class="col-md-6 text-left xs-text-center xs-margin-5px-bottom"
              >
                <p>
                  &copy; Copyright Site
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  . All Rights Reserved.
                </p>
              </div>
              <div class="col-md-6 text-right xs-text-center">
                Developed by: 'Desarrollo de Sistemas'
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end footer section -->

    
    </div>
    <!-- end main-wrapper section -->

    <!-- all js include start -->

    <!-- jquery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="js/chart.min.js"></script>

    <!-- thumbs js -->
    <script src="js/owl.carousel.thumbs.js"></script>

    <!-- animated js -->
    <script src="js/animated-headline.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- revolution slider js files start -->
    <script src="js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.video.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- quform plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->
  </body>
</html>


