<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- title  -->
    <title>Slider B</title>

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- core style css -->
    <link rel="stylesheet" href="css/slider-b.css" />
  </head>

  <body>
    <!-- start page loading -->
    <div id="preloader">
      <div class="row loader">
        <div class="loader-icon"></div>
      </div>
    </div>
    <!-- end page loading -->

    <!-- start header -->
    <header
      class="header slider-fade small-height-align full-screen"
      data-scroll-index="0"
    >
      <!-- start slideshow -->
      <div class="container-fluid">
        <div class="row">
          <div class="owl-carousel owl-theme width-100">
            <div
              class="item bg-img"
              data-overlay-dark="7"
              data-background="https://placehold.co/1920x900?text=Slide+1"
            >
              <div class="caption">
                <div class="overflow-hidden">
                  <h1>Título Slide 1</h1>
                  <h3>Subtítulo</h3>
                  <a href="#!" class="btn small fill margin-15px-left"
                    >Ver más</a
                  >
                  <a href="#!" class="btn small fill margin-15px-left"
                    >Ver más</a
                  >
                </div>
              </div>
            </div>
            <div
              class="item bg-img"
              data-overlay-dark="7"
              data-background="https://placehold.co/1920x900?text=Slide+2"
            >
              <div class="caption">
                <div class="overflow-hidden">
                  <h1>Título Slide 2</h1>
                  <h3>Subtítulo</h3>
                  <a href="#!" class="btn small fill margin-15px-left"
                    >Ver más</a
                  >
                  <a href="#!" class="btn small fill margin-15px-left"
                    >Ver más</a
                  >
                </div>
              </div>
            </div>
            <div
              class="item bg-img"
              data-overlay-dark="7"
              data-background="https://placehold.co/1920x900?text=Slide+3"
            >
              <div class="caption">
                <div class="overflow-hidden">
                  <h1>Título Slide 3</h1>
                  <h3>Subtítulo</h3>
                  <a href="#!" class="btn small fill margin-15px-left"
                    >Ver más</a
                  >
                  <a href="#!" class="btn small fill margin-15px-left"
                    >Ver más</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end slideshow -->
    </header>
    <!-- end header -->
    <!-- all js include start -->

    <!-- jQuery -->
    <script src="../../js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="../../js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="../../js/scrollIt.min.js"></script>

    <!-- owl carousel -->
    <script src="../../js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="../../js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="../../js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="../../js/waypoints.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->
  </body>
</html>
