/*-----------------------------------------------------------------------------

-	Revolution Slider 5.0 Layer Style Settings -

Screen Stylesheet

version:   	5.0.0
date:      	18/03/15
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

* {/*Team Section*/
    -webkit-box-sizing: border-box;/*Team Section*/
    -moz-box-sizing: border-box;/*Team Section*/
    box-sizing: border-box;/*Team Section*/
}/*Team Section*/

.tp-caption.Twitter-Content a,.tp-caption.Twitter-Content a:visited/*Team Section*/
{/*Team Section*/
	color:#0084B4!important;/*Team Section*/
}/*Team Section*/