<!DOCTYPE html>
<html lang="es-mx">
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- title  -->
    <title>About Us Option B</title>
    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />
    <!-- custom css -->
    <link href="css/about-us-b.css" rel="stylesheet" id="colors" />
  </head>

  <body>
    <!-- start page loading -->
    <div id="preloader">
      <div class="row loader">
        <div class="loader-icon"></div>
      </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">
      <!-- start About Section -->
      <section class="bg-light-gray">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 sm-margin-30px-bottom">
              <div class="padding-30px-right">
                <!--Titulo de la sección-->
                <h4 class="font-weight-600">
                  Innovación tecnológica de vanguardia
                </h4>

                <p class="margin-10px-bottom">
                  <span class="font-weight-600"
                    >“ITESA es una universidad tecnológica líder en
                    México”</span
                  >
                  dedicada a impulsar la innovación y la excelencia académica.
                </p>
                <p
                  class="margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom"
                >
                  Nuestros programas de estudio de vanguardia brindan a los
                  estudiantes las habilidades y el conocimiento necesarios para
                  sobresalir en la era digital.
                </p>
                <div
                  class="aboutus-text border-left margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom"
                >
                  <i
                    class="fas fa-quote-left padding-30px-left xs-padding-20px-left opacity2"
                  ></i>
                  <p class="padding-30px-left xs-padding-20px-left no-margin">
                    El conocimiento es poder, pero la innovación es el motor que
                    impulsa el mundo.
                  </p>
                  <span
                    class="padding-30px-left xs-padding-20px-left text-theme-color"
                    >Peter Drucker</span
                  >
                </div>
                <p class="no-margin-bottom">
                  Con un cuerpo docente altamente calificado y un enfoque
                  práctico en el aprendizaje, ITESA prepara a los profesionales
                  del mañana para enfrentar los desafíos y aprovechar las
                  oportunidades en campos como la ingeniería de software, la
                  inteligencia artificial, la ciberseguridad y mucho más.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div
                class="story-video bg-img cover-background"
                data-overlay-dark="0"
                data-background="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/347406122_592490226358445_6174151121885628427_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeF2W6eRKPCx7wek364qSl4upjmOrSLFsEumOY6tIsWwS89velSus6ufXvp6_m0DMu9pDVOeiE00KSJ1WXMd_MKp&_nc_ohc=YE-QiJI6quwAX-PHwIz&_nc_ht=scontent-qro1-2.xx&oh=00_AfDOl9wl7bqNkpz43gUxdXPD7R5u_Kou_Y3zw74ax6RIkw&oe=64CA07D7"
              >
                <div class="opacity-extra-medium bg-black"></div>
                <div
                  class="text-center center-col absolute-middle-center z-index-1"
                >
                  <a class="video" href="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FITESA.OFICIAL%2Fvideos%2F638513954969027%2F&show_text=false&width=560&t=0">      
                    <span
                      class="video_btn margin-10px-right margin-15px-bottom"
                    >
                      <i class="fas fa-play font-size18 xs-font-size16"></i>
                    </span>
                  </a>
                </div>
                <div class="inner-border"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end About section -->
    </div>
    <!-- end main-wrapper section -->

    <!-- all js include start -->

    <!-- jquery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!--  chart js -->
    <script src="js/chart.min.js"></script>

    <!-- thumbs js -->
    <script src="js/owl.carousel.thumbs.js"></script>

    <!-- animated js -->
    <script src="js/animated-headline.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- revolution slider js files start -->
    <script src="js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/rev_slider/extensions/revolution.extension.video.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- quform plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->
  </body>
</html>
